body{
  background:linear-gradient(to right,#36d1dc,#5b86e5 );
}
h2{
  color:#000957;
}
h3{
color: #4C0070;
}
hr{
border-style: none;
border-top-style:dotted;
border-color: grey;
border-width: 5px;
width: 5%;
}
img{
  height: 90px;
  width: 90%;
}
